<div class="card">
    <div class="card-body">
        <h3><i class="fa fa-bookmark-o"></i> บทความที่น่าสนใจ</h3>
        <div class="row">
            <div class="col-6">
                <a class="card mb-3" href="http://www.painaidii.com/diary/diary-detail/004057/lang/th/">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="http://img.painaidii.com/images/20190919_3_1568865397_686719.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">เด็กชอบ ผู้ใหญ่ชิลล์ 8 ที่เที่ยวพ่วงกิจกรรมรักธรรมชาติ ทำนา เลี้ยงวัว เก็บไข่ ต้องไปลอง</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a class="card mb-3" href="http://www.painaidii.com/diary/diary-detail/004254/lang/th/">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="http://img.painaidii.com/images/20190926_3_1569483566_956174.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">5 ที่พักถ้ำฟิลแบบมนุษย์หินฟรินสโตนน์ ใกล้กรุง</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a class="card mb-3" href="http://www.painaidii.com/diary/diary-detail/002851/lang/th/">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">บ้านเรามีครบ! 7 ที่พักเมืองไทย เหมือนไปเมืองนอก</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="http://img.painaidii.com/images/20151123_3_1448262972_207779.jpg" class="card-img" alt="...">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a class="card mb-3" href="http://www.painaidii.com/diary/diary-detail/004300/lang/th/">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">จิบชารับลมหนาว กับ 10 คาเฟ่เปิดใหม่ กทม. บรรยากาศดีไม่ใช่เล่น</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="http://cdn.yengo.asia/cdn/images/770x432/41/975741.jpg" class="card-img" alt="...">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a class="card mb-3" href="http://www.painaidii.com/diary/diary-detail/004300/lang/th/">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="http://cdn.yengo.asia/cdn/images/370x233/38/1019538.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">New Year is Coming!!! 8 ที่เที่ยวดูไฟปีใหม่ ถ่ายมุมไหนก็สวย</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a class="card mb-3" href="http://www.painaidii.com/diary/diary-detail/004300/lang/th/">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="http://cdn.yengo.asia/cdn/images/770x432/44/968044.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">อัพเดทล่าสุด !! 5 ที่เที่ยวเปิดใหม่ 2019 ส่งท้ายปี</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>