<div class="card">
    <div class="card-body">
        <h3><i class="fa fa-map-marker"></i> รีวิวสถานที่ท่องเที่ยว</h3>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="http://img.painaidii.com/images/20171215_4695_1513305816_52291.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/151082/chom-in-farm-72180/lang/th/" target="_blank">
                        <p class="card-text">ไร่ชมอิน เขื่อนกระเสียว</p>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <a class="card">
                    <img src="http://img.painaidii.com/images/20171225_6_1514177536_329468.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/151113/wake-a-lot-superinc-water-park-20160/lang/th/" target="_blank">
                        <p class="card-text">สวนน้ำ เวคอะล็อต</p>
                    </a>
                </a>
            </div>
            <div class="col-3">
                <a class="card">
                    <img src="http://img.painaidii.com/images/20180419_6_1524116369_653388.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/151531/satun-geopark-91120/lang/th/" target="_blank">
                        <p class="card-text">อุทยานธรณีสตูล</p>
                    </a>
                </a>
            </div>
            <div class="col-3">
                <a class="card">
                    <img src="http://img.painaidii.com/images/20180423_4695_1524472104_639595.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/151541/khonkaen-exotic-pet-and-night-safari-/lang/th/" target="_blank">
                        <p class="card-text">ขอนแก่น เอ็กโซติค เพ็ท แอนด์ ไนท์ซาฟารี</p>
                    </a>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img src="http://img.painaidii.com/images/20181029_4695_1540778022_415070.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/152350/wadsunpet-market-/lang/th/" target="_blank">
                        <p class="card-text">ตลาดน้ำวัดสรรเพชญ นครปฐม</p>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <a class="card">
                    <img src="http://img.painaidii.com/images/20181108_4695_1541652315_574852.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/152377/khaoyaiflower-30130/lang/th/" target="_blank">
                        <p class="card-text">เขาใหญ่ ฟลาวเวอร์</p>
                    </a>
                </a>
            </div>
            <div class="col-3">
                <a class="card">
                    <img src="http://img.painaidii.com/images/20181212_4695_1544580551_982246.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/152439/muang-rattiya-/lang/th/" target="_blank">
                        <p class="card-text">เมืองรัตติยา</p>
                    </a>
                </a>
            </div>
            <div class="col-3">
                <a class="card">
                    <img src="http://img.painaidii.com/images/20190321_4695_1553136180_933352.jpg" class="card-img-top">
                    <a class="card-body" href="http://www.painaidii.com//business/152613/meenammeena-waterplay-26000/lang/th/" target="_blank">
                        <p class="card-text">มีน้ำ มีนา วอเตอร์เพลย์ นครนายก</p>
                    </a>
                </a>
            </div>
        </div>
    </div>
</div>