<div class="card"> 
    <div class="card-body">
            <br />
            <h4 class="text-center text-black">6 ภูมิภาคในประเทศไทย</h4>
        <br />
        <div class="card mb-3">
                <img src="assets/img/NorthernThailand.jpg" class="card-img-top" alt="Responsive image">
                <div class="card-body">
                  <h5 class="card-title">ภาคเหนือ</h5>
                  <p class="card-text">ภาคเหนือ เป็นภูมิภาคที่อยู่ด้านบนสุดของไทย มีลักษณะภูมิประเทศอันประกอบไปด้วยเทือกเขาสลับซับซ้อน ต่อเนื่องมาจากทิวเขาฉานโยมาในประเทศพม่าและประเทศลาว ภาคเหนือมีภูมิอากาศแบบทุ่งหญ้าสะวันนา เหมือนกับพื้นที่ส่วนใหญ่ของประเทศ การที่มีพื้นที่อยู่เหนือระดับน้ำทะเลและมีเส้นละติจูดอยู่ตอนบนทำให้สภาพอากาศของภาคเหนือเปลี่ยนแปลงตามฤดูกาลอย่างเห็นได้ชัด เช่น มีฤดูหนาวที่หนาวเย็นกว่าภูมิภาคอื่น ๆ ทางด้านประวัติศาสตร์ของภาคเหนือมีความสัมพันธ์ทางวัฒนธรรมกับอาณาจักรล้านนา</p>
                </div>
              </div>
      <br />
      <div class="card mb-3">
            <img src="assets/img/Isan.jpg" class="card-img-top" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">ภาคอีสาน</h5>
              <p class="card-text">ภาคอีสาน หรือ ภาคตะวันออกเฉียงเหนือ เป็นภูมิภาคหนึ่งในประเทศไทย ตั้งอยู่บนแอ่งโคราชและแอ่งสกลนคร มีแม่น้ำโขงกั้นประเทศลาวทางทิศเหนือและตะวันออกของภาค ทางทิศใต้มีเทือกเขาพนมดงรักกั้นประเทศกัมพูชาและภาคตะวันออกของประเทศไทย และมีทิวเขาเพชรบูรณ์และทิวเขาดงพญาเย็นเป็นแนวกั้นทางตะวันตกแยกจากภาคกลาง</p>
            </div>
          </div>
        <br />
        <div class="card mb-3">
                <img src="assets/img/Eastern.JPG" class="card-img-top" alt="Responsive image">
                <div class="card-body">
                  <h5 class="card-title">ภาคตะวันออก</h5>
                  <p class="card-text">ภาคตะวันออก เป็นภูมิภาคย่อยทางตะวันออกของประเทศไทย เดิมถือเป็นส่วนหนึ่งของภาคกลาง อยู่ติดชายฝั่งอ่าวไทยด้านตะวันออก นับเป็นอีกภูมิภาคหนึ่งที่มีความสำคัญทางเศรษฐกิจ เนื่องจากเป็นแหล่งอุตสาหกรรม ผลไม้ และอัญมณีของประเทศ</p>
                </div>
              </div>
            <br />
            <div class="card mb-3">
                    <img src="assets/img/Central.JPG" class="card-img-top" alt="Responsive image">
                    <div class="card-body">
                      <h5 class="card-title">ภาคกลาง</h5>
                      <p class="card-text">ภาคกลาง เป็นภูมิภาคตอนกลางของประเทศไทย มีพื้นที่ครอบคลุมที่ราบลุ่มแม่น้ำเจ้าพระยา ติดต่อกับภาคเหนือทางทิศเหนือ ติดต่อกับภาคตะวันออก และภาคอีสานทางทิศตะวันออกโดยมีทิวเขาเพชรบูรณ์กั้น ติดต่อกับภาคตะวันตก ทิศเหนือติดต่อกับทิวเขาผีปันน้ำ พื้นนี้เคยเป็นดินแดนที่สำคัญของอาณาจักรอยุธยา และยังเป็นพื้นที่ที่สำคัญของประเทศไทยมาจนถึงปัจจุบัน ภาคกลางเป็นภูมิภาคที่มีกรุงเทพมหานคร เมืองหลวงของประเทศไทยตั้งอยู่</p>
                    </div>
                  </div>
                <br />
                <div class="card mb-3">
                        <img src="assets/img/Western.JPG" class="card-img-top" alt="Responsive image">
                        <div class="card-body">
                          <h5 class="card-title">ภาคตะวันตก</h5>
                          <p class="card-text">ภาคตะวันตก เป็นภูมิภาคหนึ่งของประเทศไทยในระบบการแบ่งแบบ 6 ภูมิภาคตามคณะกรรมการภูมิศาสตร์แห่งชาติ และเป็นภูมิภาคย่อยของภาคกลางของระบบการแบ่งแบบ 4 ภูมิภาค (ซึ่งรวมภาคตะวันออก และภาคตะวันตก) ภาคตะวันตกมีอาณาเขตติดต่อกับประเทศพม่าทางทิศตะวันตก ติดต่อกับภาคเหนือทางทิศเหนือ ติดต่อกับภาคกลางทางทิศตะวันออก และติดต่อกับภาคใต้ทางทิศใต้ ภาคตะวันตกประกอบไปด้วยจังหวัดเพียง 5 จังหวัด แม้ว่าจะจัดรวมอยู่ในภาคตะวันตก แต่ในภูมิภาคนี้ยังมีความหลากหลาย ตามลักษณะทางภูมิศาสตร์ซึ่งแตกต่างกันค่อนข้างมาก</p>
                        </div>
                      </div>
                    <br />
                    <div class="card mb-3">
                            <img src="assets/img/Southern.JPG" class="card-img-top" alt="Responsive image">
                            <div class="card-body">
                              <h5 class="card-title">ภาคใต้</h5>
                              <p class="card-text">ภาคใต้ เป็นภูมิภาคหนึ่งของไทย ตั้งอยู่บนคาบสมุทรมลายู ขนาบด้วยอ่าวไทยทางฝั่งตะวันออก และทะเลอันดามันทางฝั่งตะวันตก มีเนื้อที่รวม 70,715.2 ตารางกิโลเมตร ความยาวจากเหนือจรดใต้ประมาณ 750 กิโลเมตร ทุกจังหวัดของภาคมีพื้นที่ติดชายฝั่งทะเล ยกเว้นจังหวัดยะลาและจังหวัดพัทลุง</p>
                            </div>
                          </div>
                        <br />
    </div>
</div>