<div class="card"> 
    <div class="card-body">
            <br />
            <h4 class="text-center text-black">6 ภูมิภาคในประเทศไทย</h4>
            <br />
            <div *ngFor="let item of items | async">
             <div class="card mb-3">   
              <img src="{{ item.image }}" class="card-img-top" alt="..">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.text }}</p>
              </div>
            </div>  
          </div>
        <br />
    </div>
</div>


