<div class="card">
    <div class="card-body">
        <h3><i class="fa fa-exchange"></i> ประเพณี</h3>
        <div class="row">
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003453/lang/th/">
                    <img src="http://img.painaidii.com/images/20151112_3_1447323795_459910_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">เทศกาลชมสวน Flora Festival 2019 @ อุทยานหลวงราชพฤกษ์ เชียงใหม่..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004022/lang/th/">
                    <img src="http://img.painaidii.com/images/20150422_3_1429696247_375189_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">เทศกาลทุ่งทานตะวันบานลพบุรี @ จังหวัดลพบุรี..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004230/lang/th/">
                    <img src="http://img.painaidii.com/images/20150910_3_1441869966_429880_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">เทศกาลต้นคริสต์มาสภูเรือ @อุทยานแห่งชาติภูเรือ จ.เลย..</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00002745/lang/th/">
                    <img src="http://img.painaidii.com/images/20161219_3_1482120823_767312_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">งานเทศกาลทะเลบัวแดง @หนองหาน กุมภวาปี จ.อุดรธานี..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003577/lang/th/">
                    <img src="http://img.painaidii.com/images/20190724_3_1563959627_453542_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">จิม ทอมป์สัน ฟาร์ม ทัวร์ 2562 @ จิม ทอมป์สัน ฟาร์ม..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003811/lang/th/">
                    <img src="http://img.painaidii.com/images/20171229_3_1514509919_465493_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">งานเทศกาลเชียงรายดอกไม้งาม ครั้งที่ 16 @สวนตุงและโคมนครเชียงราย..</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003384/lang/th/">
                    <img src="http://img.painaidii.com/images/20191115_3_1573779286_443401_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Pattaya Countdown 2020 @ ท่าเทียบเรือแหลมบาลีฮาย พัทยาใต้..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003590/lang/th/">
                    <img src="http://img.painaidii.com/images/20191119_3_1574147879_602654_m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Night Paradise Hat Yai Countdown 2020 @หาดใหญ่..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003549/lang/th/">
                    <img src="http://img.painaidii.com/images/20170224_3_1487923499_567892.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">งานประเพณีนมัสการรอยพระพุทธบาทพลวง ประจำปี 2563 @ จังหวัดจันทบุรี..</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>