<header>
    <img src="assets/img/3.png" class="img-fluid" alt="Responsive image">
</header>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <a class="navbar-brand" href="#">TalksTravel <i class="fa fa-rocket" aria-hidden="true"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Home" routerLinkActive="active">หน้าแรก</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true">
                    รีวิว
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" routerLink="/Hotel" routerLinkActive="active">โรงแรม</a>
                        <a class="dropdown-item" routerLink="/Foods" routerLinkActive="active">อาหาร</a>
                        <a class="dropdown-item" routerLink="/Place" routerLinkActive="active">สถานที่</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/BLOGS" routerLinkActive="active">BLOGS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true">
                    อีเว้นท์
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" routerLink="/Tradition" routerLinkActive="active">ประเพณี</a>
                        <a class="dropdown-item" routerLink="/Product" routerLinkActive="active">สินค้า</a>
                        <a class="dropdown-item" routerLink="/Display" routerLinkActive="active">การแสดง/คอนเสิร์ต</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true">
                    ท่องเที่ยว
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" routerLink="/Province" routerLinkActive="active">จังหวัดแนะนำ</a>
                        <a class="dropdown-item" routerLink="/HotPro" routerLinkActive="active">6 จังหวัดห้ามพลาด</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Login" routerLinkActive="active">เข้าสู่ระบบ</a>
                </li>
            </ul>
        </div>
    </nav>
</body>

<router-outlet></router-outlet>