.container {
    padding: 16px;
    margin-top: 30px;
}

.navbar {
    letter-spacing: 1px;
}

.navbar a:hover {
    color: #28a745;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-padding {
    padding-top: 73px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}