header {
    background-color: #343a40;
}

hr {
    border-top: 1px solid #ffffff;
}

.page-container {
    width: 90%;
    background-color: #343a40;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.container {
    padding: 16px;
}

.navbar {
    letter-spacing: 1px;
}

.navbar a:hover {
    color: #28a745;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-padding {
    padding-top: 73px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 5;
}