<div class="card">
    <div class="card-body">
        <h3><i class="fa fa-shopping-basket"></i> สินค้า</h3>
        <div class="row">
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004130/lang/th/">
                    <img src="http://img.painaidii.com/images/20190719_3_1563514341_232436_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">COMMART WORK 2019 @ไบเทคบางนา..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004753/lang/th/">
                    <img src="http://img.painaidii.com/images/20191125_3_1574674159_781979_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Home Mega Show 2020 @อิมแพค เมืองทองธานี..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004065/lang/th/">
                    <img src="http://img.painaidii.com/images/20191125_3_1574661721_895587_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">งานเที่ยวทั่วไทย ไปทั่วโลก ครั้งที่ 26 (TITF) @อิมแพค เมืองทองธานี..</p>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003551/lang/th/">
                    <img src="http://img.painaidii.com/images/20181225_3_1545716901_54570_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Thailand Mobile Expo 2020 @ไบเทคบางนา..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004755/lang/th/">
                    <img src="http://img.painaidii.com/images/20191125_3_1574677872_975516_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">TGIF KPLUS MARKET EP.7 @Siamsquare..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004300/lang/th/">
                    <img src="http://img.painaidii.com/images/20191125_3_1574675867_940148_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">JAPAN EXPO Thailand 2020 @CENTRALWORLD..</p>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004566/lang/th/">
                    <img src="http://img.painaidii.com/images/20191126_3_1574735655_733_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">บ้านและสวนแฟร์ Select 2020 @ อิมแพค เมืองทองธานี..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003851/lang/th/">
                    <img src="http://img.painaidii.com/images/20191126_3_1574735079_764064_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">The 41th Bangkok International Motor Show 2020 @อิมแพ็ค เมืองทองธานี..</p>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003122/lang/th/">
                    <img src="http://img.painaidii.com/images/20191125_3_1574678406_823568_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Pet Expo Thailand 2020 @ ไบเทคบางนา..</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>