<div class="card">
    <div class="card-body">
        <h3><i class="fa fa-building"></i> การแสดง/คอนเสิร์ต</h3>
        <div class="row">
            <div class="col-3">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004295/lang/th/">
                    <img src="http://img.painaidii.com/images/20191126_3_1574734142_22046_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">นั่งเล่น มิวสิค เฟสติวัล 5 @ดิ โอเชี่ยน เขาใหญ่..</p>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004289/lang/th/">
                    <img src="http://img.painaidii.com/images/20191126_3_1574733799_260455_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">MAYA INTERNATIONAL MUSIC FESTIVAL 2020 @ MAYA Space, Pattaya..</p>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00004650/lang/th/">
                    <img src="http://img.painaidii.com/images/20190124_3_1548294887_309190_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">UnKonscious Beach Festival 2020 @ Paradise Beach Club Phuket ..</p>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a class="card" href="http://www.painaidii.com/event/event-detail/00003564/lang/th/">
                    <img src="http://img.painaidii.com/images/20191126_3_1574733144_754287_m.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Rimpha Music Festival 8 @เขาใหญ่ ถ.ธนะรัชต์ กม. 21..</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>