 <br />
 <div class="card"> 
        <div class="card-body">    
        <br />
        <h4 class="text-center text-black"> 8 จังหวัดห้ามพลาด</h4>

    <br />
    <div class="row">
        <div class="col-3">
            <div class="card ">
             <img class="card-img-top" src="assets/img/MaeHongSon.jpg" alt="card-img-top"> 
            <div class="card-body">
          <a href="https://travel.mthai.com/blog/143078.html"class="btn btn-black">แม่ฮ่องสอน</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card ">
            <img class="card-img-top" src="assets/img/ChiangRai.jpg" alt="card-img-top"> 
            <div class="card-body">
              <a href="https://www.wongnai.com/listings/attractions-chiangrai"class="btn btn-black">เชียงราย</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card ">
                <img class="card-img-top" src="assets/img/trang.jpg" alt="card-img-top"> 
                <div class="card-body">
                  <a href="https://blog.traveloka.com/th/local-travel/20-attraction-trang/"class="btn btn-black">ตรัง</a>
                </div>
              </div>
            </div>
            <div class="col-3">
                    <div class="card ">
                          <img class="card-img-top" src="assets/img/kabi.jpg" alt="card-img-top"> 
                          <div class="card-body">
                            <a href="https://travel.mthai.com/tag/%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B8%9A%E0%B8%B5%E0%B9%88"class="btn btn-black">กระบี่</a>
                          </div>
                        </div>
                    </div>
            </div>
            <br>
                <div class="row">
                <div class="col-3">
                        <div class="card ">
                            <img class="card-img-top" src="assets/img/loei.jpg" alt="card-img-top"> 
                               <div class="card-body">   
                                       <a href="https://travel.kapook.com/view214221.html"class="btn btn-black">เลย</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                                <div class="card ">
                                    <img class="card-img-top" src="assets/img/Kanchanaburi.jpg" alt="card-img-top"> 
                                       <div class="card-body"> 
                                               <a href="https://travel.mthai.com/blog/145880.html"class="btn btn-black">กาญจนบุรี</a>
                                        </div>
                                    </div>
                               </div>
             <div class="col-3">
                <div class="card ">
                     <img class="card-img-top" src="assets/img/trad.jpg" alt="card-img-top"> 
                        <div class="card-body">
                                 <a href="https://blog.traveloka.com/th/local-travel/20-checkin-trat-dont-miss/"class="btn btn-black">ตราด</a>
                            </div>
                        </div>
                </div>
           <div class="col-3">
                 <div class="card ">
                         <img class="card-img-top" src="assets/img/phac.jpg" alt="card-img-top"> 
                            <div class="card-body">   
                             <a href="https://travel.mthai.com/region/110063.html"class="btn btn-black">ประจวบคีรีขันธ์</a>
                             </div>
                        </div>
             </div>
          
    </div>
    <br />
</div>
</div>
    <br />
     

