    <br />
    <div class="row ">
    <div class="col-sms-6 col-sm-6 col-md-3">
    <div class="card " style="width: 18rem;">
        <img class="card-img-top" src="assets/img/ChiangMai.jpg" alt="Card image cap"> 
        <div class="card-body">
          <h5 class="card-title">เชียงใหม่</h5>
          <p class="card-text">20 ที่เที่ยวเชียงใหม่ ที่เป็นที่เที่ยวยอดฮิต </p>
          <a href="https://www.wongnai.com/listings/attractions-in-chiangmai"class="btn btn-black">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sms-6 col-sm-6 col-md-3">
      <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="assets/img/ChiangRai.jpg" alt="Card image cap"> 
            <div class="card-body">
              <h5 class="card-title">เชียงราย</h5>
              <p class="card-text">15 ที่เที่ยวเชียงราย เที่ยวสนุก เก็บครบจุดเช็กอิน</p>
              <a href="https://www.wongnai.com/listings/attractions-chiangrai"class="btn btn-black">Go</a>
            </div>
          </div>
        </div>
        <div class="col-sms-6 col-sm-6 col-md-3">
          <div class="card " style="width: 18rem;">
                <img class="card-img-top" src="assets/img/MaeHongSon.jpg" alt="Card image cap"> 
                <div class="card-body">
                  <h5 class="card-title">แม่ฮ่องสอน</h5>
                  <p class="card-text">16 สถานที่เที่ยวแม่ฮ่องสอน ช่วงหน้าหนาว</p>
                  <a href="https://travel.mthai.com/blog/143078.html"class="btn btn-black">Go</a>
                </div>
              </div>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                    <div class="card " style="width: 18rem;">
                          <img class="card-img-top" src="assets/img/MaeHongSon.jpg" alt="Card image cap"> 
                          <div class="card-body">
                            <h5 class="card-title">แม่ฮ่องสอน</h5>
                            <p class="card-text">16 สถานที่เที่ยวแม่ฮ่องสอน ช่วงหน้าหนาว</p>
                            <a href="https://travel.mthai.com/blog/143078.html"class="btn btn-black">Go</a>
                          </div>
                        </div>
                      </div>
          
    </div>
    <br />
     

